body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #f4f4f4;
    color: #333;
}

h1 {
    color: indigo;
}

a {
    color: #3498db;
    text-decoration: none;
}
a:hover {
    color: #1abc9c;
}
